@import url("https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=JetBrains+Mono:wght@400;500;600&family=Liter&display=swap");

:root {
    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --bg-color-alt: #666;
    --main-color: #323232;
    --page-background: #f4f4f2;
}

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;

    background: var(--page-background);

    color: var(--font-color);

    font-family: "Hedvig Letters Sans", sans-serif;
}

button,
input,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}